@media screen and (min-width: 1024px) {
    .carrossel__titulo {
      font-size: 26px;
    }
  }
  @media screen and (min-width: 1024px) {
    /* C贸digo omitido */
  
    .swiper-pagination {
      margin: 2em 0 3em 0;
    }
  }
  @media screen and (min-width: 1024px) {
    /* C贸digo omitido */
  
    .swiper {
      width: 60%;
    }
  }
  @media screen and (min-width: 1024px) {
    /* C贸digo omitido */
  
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      top: 60%;
    }
  }
  @media screen and (min-width: 1024px) {
    /* C贸digo omitido */
  
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      top: 60%;
    }
  }
          